.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__wrapper {
    padding: 2rem;
    width: 28rem;
    max-width: 28rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem; // important aesthetics
  }

  // Layout
  header img {
    height: 1.5rem;
  }

  main {
    padding: 2rem 0;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }

  // Form
  form {
    margin: 1rem 0;
    a button {
      text-decoration: none !important;
    }
    & > div:first-child > input:not([type="checkbox"]) {
      display: block;
      width: 100%;
      margin: 0.25rem 0;
      padding: 0.25rem 0.5rem;
    }
    & > div:last-child {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
    }
    & ~ a,
    & + a {
      text-decoration: none;
    }
  }
}
