.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__wrapper {
    padding: 2rem;
    width: 28rem;
    max-width: 28rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem; // important aesthetics
  }

  // Card layout
  header img {
    height: 1.5rem;
  }
  main {
    padding: 2rem 0;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
}
